body {
  font-family: 'Pacifico', cursive;
}

nav{
  margin-top: 0;
  background: #F9A91A;
  height: 80px;
}

h3{
  position: fixed;
  margin: 10px;
  font-size: 40px;
}

section{
  position: absolute;
  margin-left: 80px;
  margin-top: 1px;
}

div{
  display: inline-block;
}

img {
  width: 200px;
  height: 200px;
  margin: 80px;
  position: relative;
}

.nombre{
  position: relative;
  margin-left: 150px;
  margin-top: -120px;
  color: white;
}

.apellido{
  position: relative;
  margin-left: 210px;
  margin-top: -44px;
  color: white;
}
